<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1 id="player_count"></h1>
    <div id="sockets"></div>
    <script src="https://cdn.socket.io/4.8.1/socket.io.min.js"></script>
    <script>
        console.log("monitoring lobby");
        const socket = io();
        const lobby_code = window.location.pathname.split("/")[2];
        const player_id = window.location.pathname.split("/")[3];
        socket.emit("monitor_lobby", {
            lobby_code: lobby_code,
            player_id: player_id
        });

        socket.on("lobby_update",function(data){
            console.log(data);
            document.getElementById("player_count").innerText = data.player_count + " players in lobby";
            const socketsDiv = document.getElementById("sockets");

            // Clear old list
            socketsDiv.innerHTML = "";

            // Loop through all players
            for (const player_id in data.players) {

                const player = data.players[player_id];

                const p = document.createElement("p");

                p.innerText = player_id + ": " + " - " + player.socket_id + " - " + player.lobby_code;

                socketsDiv.appendChild(p);
            }
            
        })
    </script>
</body>

</html>